.wrapper {
	display: flex;
	cursor: pointer;
	border: 1px solid black;
	box-shadow: 8px 8px 24px -14px #343434;
	border-radius: 0.3rem;
	margin: 15px 0;
	transition: 0.2s;
}
.wrapper:hover {
	transform: scale(103%);
	box-shadow: 8px 8px 24px -10px #343434;
}
.details {
	width: 100%;
	/* display: flex;
	flex-direction: column; */
}
.details-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 10px 10px 10px;
}
.details-bottom {
	display: flex;
	justify-content: space-between;
	margin: 7px;
}
.bottom-left {
	margin-left: 20px;
	display: flex;
}
.tech {
	display: flex;
	width: 100%;
	align-items: space-between;
}
.tech p {
	margin-right: 12px;
	padding: 1px 4px;
	border: 1px solid #fdd719;
	box-shadow: 0px 0px 1px 0px #fdd719;
	border-radius: 0.5rem;
}

.company {
	margin-right: 20px;
}

.title {
	color: #567d92;
	margin: 0 30px 0 10px;
}
.logo {
	margin: 15px;
}

@media screen and (max-width: 768px) {
	.wrapper {
		display: none;
	}
}
