.burger {
	display: block;
	margin-right: 40px;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #fdd719;
	margin: 5px;
	transition: all 0.3s;
}

.burger .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.burger .line2 {
	opacity: 0;
}

.burger .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
	transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
	.burger {
		display: none;
	}
}
