.navigation-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 1;
	opacity: 80%;
	width: 100%;
}
@media screen and (min-width: 1024px) {
	.navigation-bar {
		padding: 0 30px;
	}
}
@media screen and (min-width: 1600px) {
	.navigation-bar {
		padding: 0 100px;
	}
}
